Necessary Packages For iPlanner and Imperative Training

1. conda create -n iplanner python=3.8

2. conda activate iplanner

3. pip install numpy==1.23.5 pypose==0.3.6 torchvision==0.14.1 opencv-python==4.7.0.72 open3d==0.13.0 docutils==0.17.1 empy==3.3.4 catkin-pkg==0.5.2 rospkg==1.5.0 wandb==0.15.3 numexpr==2.8.4 pluggy==1.0.0 rosnumpy==0.0.5.2 oauthlib==3.2.2

-----------------------------------------------------------------------

You can also use the following command to install all the packages at once using the iplanner_env.yaml file:

1. conda env create -f iplanner_env.yml